body
	background-color: $white

.progress.is-info
	&::-webkit-progress-value
		background-color: $info
	&::-moz-progress-bar
		background-color: $info

.is-primary-darkened
	background-color: $primary-dark
	color: $white


.is-login
	+box-shadow(none)
	background-color: $primary
	color: $white

	button
		+transition(all ease 0.5s)

	figure
		max-width: 200px
		margin: 1em auto 2em
		background-color: transparent

	.control.has-icon > .fa
		top: 20px
		font-size: 1.5em
		color: $white

	.input
		+transition(all ease 0.5s)
		+border-radius(0)
		+box-shadow(none)
		background-color: transparent
		font-size: 2em
		padding-left: 40px !important
		color: $white
		border: none
		border-bottom: 1px solid rgba($white, 0.5)
		-webkit-text-fill-color: $white !important
		font-weight: lighten
		padding: 1em

		&:hover, &:focus
			border-bottom: 2px solid $white

		&:-webkit-autofill
			-webkit-box-shadow: 0 0 0px 1000px $primary inset
			-webkit-text-fill-color: $warning !important

.is-white
	color: $white
	border-color: $white

.footer
	background-color: $primary
	*
		color: $white

.box:not(.normal)
	+transition(all ease 0.5s)
	+box-shadow(0 0 50px $grey-light)
	+border-radius(0)
	border-left: 10px solid $info

	&:hover
		border-left-width: 20px

.box
	position: relative

.validacao
	top: 0
	right: 0
	position: absolute
	z-index: 1

	&:after
		top: 0
		right: 0
		position: absolute
		content: " "
		border: 15px solid transparent

	&.status-aprovado
		&:after
			border-top-color: $success
			border-right-color: $success

	&.status-reprovado
		&:after
			border-top-color: $danger
			border-right-color: $danger

	&.status-em-analise
		&:after
			border-top-color: $warning
			border-right-color: $warning

.nav-item
	.fa
		font-size: 1.5em
		margin-left: 1em

iframe
	width: 100% !important
	pointer-events: none