@{
    Layout = null;
}
<section class="hero is-primary-darkened">
    <div class="hero-head">
        <div class="container" style="padding: 10px; align-items: center;">
            <div class="columns is-vcentered">
                <div class="column is-narrow" style="font-size: 27px; height: 47px; padding-right: 3px;">
                    <i class="fa fa-dollar"></i>
                </div>
                <div class="column">
                    <progress class="progress is-info" value="15" max="100">15%</progress>
                </div>
                <div class="column is-narrow">
                    R$ 435,00 / R$ 6.000,00 <strong style="color: white">(15%)</strong>
                </div>
            </div>
        </div>
    </div>
</section>

