<footer class="footer is-primary">
    <div class="container">
        <div class="content columns">
            <p class="column">
                <strong>Quero ir</strong> foi desenvolvido pelo <strong>Time 2</strong>. Campeão do Hackathon 2016.
            </p>
            <p class="column has-text-centered">
                <a class="icon" href="https://github.com/diogonc/time2">
                    <i class="fa fa-github"></i>
                </a>
            </p>
            <p class="column has-text-right">
                @*<figure class="image"><img src="~/Content/digix-logo.svg" style="width: 122px;height: 40px;max-height:40px" /></figure>*@
            </p>
        </div>
    </div>
</footer>