<footer>
    <section>
        <h2>Digieventos time2 campeão</h2>
        <p>
            <a href="http://www.digithobrasil.com.br" title="Desenvolvido por DígithoBrasil - Soluções em Software Ltda.">
                Desenvolvido por DígithoBrasil - Soluções em Software Ltda.
            </a>
        </p>
    </section>
</footer>