<footer class="footer container">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                <strong>Digieventos</strong> by <a href="#">Time 2</a>. Campeão do Hackathon da DigithoBrasil. The website content
                is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC ANS 4.0</a>.
            </p>
            <p>
                <a class="icon" href="https://github.com/diogonc/time2">
                    <i class="fa fa-github"></i>
                </a>
            </p>
        </div>
    </div>
</footer>