<section class="hero is-primary-darkened">
    <div class="hero-head">
        <div class="container">
            <nav class="nav">
                <div class="nav-left">
                    <a class="nav-item is-brand" href="/TimeDois/Eventos/Listar">
                        <img src="@Url.Content("~/Content/quero-ir-logo.svg")" alt="Image" class="is-128" style="width: 122px; height: 40px; max-height: 40px">
                    </a>
                </div>
                <div id="nav-menu" class="nav-right nav-menu">
                    <span class="nav-item">
                        @if (Session["Login"] == null)
                        {
                            <script>
                                window.location.href = "/TimeDois";
                            </script>
                        }
                        else
                        {
                            <span>@Session["Login"]</span>
                        }
                    </span>
                </div>
            </nav>
        </div>
    </div>
</section>
@{ Html.RenderAction("Index", "Orcamento"); }

