<header>
    <nav class="logo">
        <img src="http://4.bp.blogspot.com/_qe5TXi27TQA/SbpUFccySLI/AAAAAAAAEAY/H_1wbsJhog0/s400/carrefour-logo-logotipo-logomarca.png"/>
    </nav>

    <nav class="menu">
        <ul>
            <li>Lista de eventos</li>
            <li>Lista de eventos</li>
            <li>Lista de eventos</li>
            <li>Lista de eventos</li>
        </ul>
    </nav>
</header>

