<section class="hero is-primary">
    <div class="hero-head">
        <div class="container">
            <nav class="nav">
                <div class="nav-left">
                    <a class="nav-item is-brand" href="/">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/a/a4/TAM_Airlines_Logo.png" alt="Image" class="is-128">
                    </a>
                </div>
                <div id="nav-menu" class="nav-right nav-menu">
                    <span class="nav-item">
                        @if (Session["Login"] == null)
                        {
                            <a class="button is-primary is-inverted" href="https://github.com/jgthms/bulma/archive/0.2.3.zip">
                                <span class="icon">
                                    <i class="fa fa-lock"></i>
                                </span>
                                <span>Login</span>
                            </a>
                        }
                        else
                        {
                            <span>@Session["Login"]</span>
                        }
                    </span>
                </div>
            </nav>
        </div>
    </div>
</section>

