<section class="hero is-primary">
    <div class="hero-head">
        <div class="container">
            <nav class="nav">
                <div class="nav-left">
                    <a class="nav-item is-brand" href="/">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/a/a4/TAM_Airlines_Logo.png" alt="Image" class="is-128">
                    </a>
                </div>
                <div id="nav-menu" class="nav-right nav-menu">
                    <span class="nav-item">
                        @if (Session["Login"] == null)
                        {
                            <a class="button is-primary is-inverted" href="https://github.com/jgthms/bulma/archive/0.2.3.zip">
                                <span class="icon">
                                    <i class="fa fa-lock"></i>
                                </span>
                                <span>Login</span>
                            </a>
                        }
                        else
                        {
                            <span>@Session["Login"]</span>
                        }
                    </span>
                </div>
            </nav>
        </div>
    </div>
    <div class="hero-head">
        <div class="container" style="padding: 10px; align-items: center;">
            <div class="columns is-vcentered">
                <div class="column is-narrow" style="font-size: 27px; height: 47px; padding-right: 3px;">
                    <i class="fa fa-dollar"></i>
                </div>
                <div class="column">
                    <progress class="progress is-success" value="15" max="100">15%</progress>
                </div>
                <div class="column is-narrow">R$ 435,00 / R$ 6.000,00 <strong style="color: white">(15%)</strong></div>
            </div>
        </div>
    </div>
</section>

