<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Time2 Digieventos</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <!--<link href="@Url.Content("~/Content")" rel="stylesheet" type="text/css" />-->
</head>
<body>
    <main>
        @Html.Partial("_Header")
        <section id="section">
            @RenderBody()
        </section>
        @Html.Partial("_Footer")
    </main>
</body>
</html>