@using TimeDois.Extensoes
@model TimeDois.ViewModel.ListaDeEventosViewModel
<div>
    <h1>Lista de eventos</h1>
</div>

<ul>
    @foreach (var evento in Model.Eventos)
    {
        <li>
            <a href="@Url.Action("Detalhes")?eventoId=@evento.Id">
                <h2>@evento.Nome</h2>
            </a>
            <div class="data">@evento.DataInicio.FormatarDiaMesAno()</div>
            
            <div class="tipo">@evento.Descricao</div>
        </li>
    }
</ul>
